{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Twitter Clone   
        {% endblock  %}
    </title>
    {% tailwind_css %}
</head>
<body class="bg-gray-600 min-h-screen">
    <div class="container">
{% comment %} navbar  {% endcomment %}
<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="{% url 'tweet_list' %}" class="">Home</a></li>
      </ul>
    </div>
    <a href="{% url 'tweet_list' %}" class="btn btn-ghost text-xl">Twitter</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'tweet_list' %}" class="btn btn-warning">Home</a></li>
      <li></li>
 
    </ul>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}" class="inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-error">Logout --> {{ user.username }} </button>
    </form>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
    {% endif %}
  </div>
</div>
        {% block content%}
        {% endblock %}
    </div>
</body>
</html>