{% extends "layout.html" %}    

{% block title %}
Tweet
{% endblock title %}



{% block content %}
<h1 class="text-5xl text-center text-white">Tweet Index Page</h1>

<a href="{% url 'tweet_create' %}" class="btn btn-primary">Create Tweet</a>

<div class="container mx-auto mt-8 flex flex-wrap gap-4 justify-center">
{% for tweet in tweets %}
<div class="card bg-base-100 w-96 shadow-sm border border-gray-300 h-128">
  <figure>
    <img
      src="{{ tweet.photo.url }}"
      alt="Shoes" 
      class="h-full w-full object-cover"
      />

  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ tweet.user.username }}</h2>
    <p>{{ tweet.text }}</p>
    <div class="card-actions justify-end">
      <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-warning">Delete</a>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
